<div mat-dialog-content>
<h5 mat-dialog-title>Agregar un Post</h5>
  <form [formGroup]="postForm">
  <mat-form-field appearance="outline">
    <mat-label>USER ID</mat-label>
    <input formControlName="userId" matInput placeholder="1">
    <mat-icon matSuffix>person</mat-icon>
  </mat-form-field>
  <mat-form-field class="Inputs" appearance="outline">
    <mat-label>TITULO DE POST</mat-label>
    <input formControlName="title" matInput placeholder="New Post">
    <mat-icon matSuffix>title</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>POST</mat-label>
    <input formControlName="body" matInput placeholder="¡Good News!">
    <mat-icon matSuffix>note_add</mat-icon>
  </mat-form-field>
<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="basic" style="margin: 3px 0 7px 8px" (click)="addPost()"> {{actionBtn}}</button>
</div>
</form>
</div>

