.p{
    color: white;
}


  
@mixin margin-padding($m-direction, $m-amount, $p-direction, $p-amount) {
    @if $m-direction == all {
      margin: $m-amount;
    } @else {
      margin-#{$m-direction}: $m-amount;
    }
    @if $p-direction == all {
      padding: $p-amount;
    } @else {
      padding-#{$p-direction}: $p-amount;
    }
  }
  .mat-elevation-z8 {
    @include margin-padding(all, 5% 10px, bottom, 5%);
  }